.blue-sky {
  background: #add8d8;
}
.sunshine {
  margin-left: -100px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #ece70d,
    inset -20px 0 80px #ece70d, inset 20px 0 300px #fff,
    inset -20px 0 300px #fff, 0 0 50px #fff, -10px 0 80px #ece70d,
    10px 0 80px #ece70d;
  opacity: 0.8;
  z-index: -1;
  position: fixed;
}
.cloudy {
  width: 1000px;
  animation: move-clouds 150s linear infinite;
  position: fixed;
  z-index: -1;
}
.c2 {
  margin-top: 100px;
  left: -200px;
  animation: move-clouds 150s linear infinite;
}

@keyframes move-clouds {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.grey-sky {
  background-color: #ececec;
}
.scattered-clouds {
  width: 900px;
  animation: move-clouds 150s linear infinite;
  position: fixed;
  z-index: -1;
}
.sc1 {
  margin: -100px -250px 0px 0px;
}
.sc2 {
  margin: -90px 0px 0px -1000px;
}
.sc3 {
  margin: 30px 0px 0px -300px;
}
.sc4 {
  margin: 100px 0px 0px -1000px;
}
.sc5 {
  margin: 150px 0px 0px 600px;
}

@keyframes move-clouds {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(1000px, 0px, 0px);
  }
}

.raining {
  background-color: rgba(117, 122, 121, 0.8);
}
.rain-cloud {
  position: fixed;
  width: 900px;
  z-index: -1;
  animation: rain-cloud 300s linear infinite;
}
.rain-cloud-background {
  position: fixed;
  width: 900px;
  z-index: -1;
  animation: rain-cloud 150s linear infinite;
}
.rc1 {
  margin: 90px -250px 0px 0px;
}
.rc2 {
  margin: -140px 0px 0px -1000px;
}

.rc3 {
  margin: -200px 0px 0px -300px;
}
.rc4 {
  margin: 150px 0px 0px -800px;
}
.rc5 {
  margin: 150px 0px 0px 600px;
}
.rc6 {
  margin: -200px 0px 0px 600px;
}
@keyframes rain-cloud {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(1000px, 0px, 0px);
  }
}
