a {
  text-decoration: none;
}
body {
  background-color: rgba(220, 222, 224, 0.3);
  max-width: 800px;
  margin: 60px auto;
}
.wrapper {
  font-family: "Roboto Serif", serif;
  color: rgb(81, 78, 78);
  border: 1px solid #fff;
  border-radius: 14px;
  box-shadow: 5px 30px 50px rgb(0 0 0 / 10%);
  padding: 20px 20px 10px 20px;
  background-color: #fff;
}
li {
  list-style: none;
}

ul {
  padding-left: 0rem;
}
strong {
  color: rgb(213, 68, 191);
}
.btn-primary {
  text-decoration: none;
  font-weight: medium;
  width: 117px;
  padding: 6px;
}
.city {
  font-size: 50px;
  color: rgb(59, 57, 57);
}

.city-input {
  background-color: rgba(249, 247, 254, 0.5);
  border-radius: 11px;
  border: 1px solid rgba(206, 212, 218, 0.3);
}

.city-temperature {
  float: right;
  padding-right: 10px;
  color: rgb(59, 57, 57);
}

#current-location {
  background-color: #0d6efd;
  border-color: none;
  border: 1px;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 7px;
}
#current-location:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.dates {
  font-size: 18px;
}
.high-low {
  font-size: smaller;
}
.horizontal {
  opacity: 0.05;
}
.integer {
  color: #885df1;
}
#quote {
  color: #885df1;
  font-weight: bolder;
}
#search-city-form {
  margin-bottom: 40px;
}

.temperature {
  font-size: 80px;
}
.units {
  position: relative;
  top: -35px;
  color: black;
  cursor: default;
}
.vertical {
  transform: rotate(90deg);
  width: 100px;
  margin-left: -95px;
}
.weather-details {
  font-size: 18px;
}
.weather-details:first-letter {
  text-transform: capitalize;
}
.weather-icon {
  padding: 20px;
}
.weather-forecast {
  margin: 30px 0px;
  padding-bottom: 35px;
}
