a {
  text-decoration: none;
}
body {
  font-family: "Roboto Serif", serif;
  max-width: 800px;
  margin: 60px auto;
  background-color: rgba(220, 222, 224, 0.3);
}

li {
  list-style: none;
}

ul {
  padding-left: 0rem;
}
hr {
  opacity: 0.05;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}
.bolt {
  color: goldenrod;
}
.btn-primary {
  text-decoration: none;
  font-weight: medium;
  width: 117px;
  padding: 6px;
}
.city {
  font-size: 40px;
}
.city-input {
  background-color: rgba(249, 247, 254, 0.5);
  border-radius: 11px;
  border: 1px solid rgba(206, 212, 218, 0.3);
}

.city-temperature {
  float: right;
  padding-right: 10px;
}
.cloud {
  color: gainsboro;
}
#current-location {
  background-color: #0d6efd;
  border-color: none;
  border: 1px;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 7px;
}
#current-location:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.dates {
  font-size: 18px;
}
.high-low {
  font-size: smaller;
}

.rain {
  color: grey;
}
#search-city-form {
  margin-bottom: 40px;
}
.sun {
  color: rgba(255, 217, 0, 0.972);
}
.temperature {
  font-size: 40px;
}
.units {
  position: relative;
  top: -12px;
}
.weather-details {
  font-size: 14px;
}
.weather-details:first-letter {
  text-transform: capitalize;
}
.weather-forecast {
  margin: 40px 0px;
  padding-bottom: 40px;
}
.wrapper {
  border: 1px solid #fff;
  border-radius: 14px;
  box-shadow: 5px 30px 50px rgb(0 0 0 / 10%);
  padding: 20px;
  background-color: #fff;
}
